/* Signed Out */
.home-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: calc(100svh - var(--header-height));
    background-color: var(--bg-color-secondary);
}

.home-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--flex-gap-l);
    margin: var(--section-spacing);
    text-align: center;
}

.home-hero-text-cta-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--flex-gap-l);
    margin-bottom: 0.625em;
}

.home-hero-text-cta-btns-btnlink {
    transition: box-shadow var(--transition-duration-long)
        var(--transition-function);
    padding: var(--padding-items-s) var(--padding-items-m);
    border: var(--border-solid);
    color: var(--color-text);
}

.home-hero-text-cta-btns-btnlink:hover,
.home-hero-text-cta-btns-btnlink:focus-visible {
    box-shadow: var(--box-shadow-accent);
}

.home-hero-text-cta-btns-btnlink::after {
    content: none;
}

.home-hero-text-cta-btns-signuplink {
    background-color: var(--bg-color-accent);
    color: var(--color-white-main);
}

.home-howto {
    width: fit-content;
    padding: var(--section-spacing);
    margin: auto;
    scroll-margin-top: var(--header-height);
    text-align: center;
}

.home-howto-text-para {
    margin: var(--margin-items-l) auto;
}

.home-learnmd {
    margin: 0 var(--section-spacing) var(--section-spacing);
    scroll-margin-top: calc(var(--header-height) + 6px);
}

.home-learnmd-container {
    max-width: 1500px;
    padding: var(--section-spacing);
    border: var(--border-solid);
    border-radius: var(--border-radius-main);
    margin: 0 auto;
}

.home-learnmd-imagefigure {
    width: fit-content;
    height: 200px;
    margin: auto;
}

.home-learnmd-imagefigure-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: var(--border-radius-main);
    background-color: var(--color-black-main);
}

.home-learnmd-text {
    width: fit-content;
    margin: auto;
}

.home-learnmd-text-heading,
.home-learnmd-text-para {
    margin-top: var(--margin-items-l);
    text-align: center;
}

/* Signed In */
.home-workspace {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap-s);
    height: calc(100svh - var(--header-height));
    padding: var(--section-spacing);
    overflow: hidden;
}

.home-workspace-sidebar {
    flex: 1 1 30%;
    height: 100%;
    max-width: 30%;
}

.home-workspace-editarea {
    flex: 1 1 70%;
    height: 100%;
    max-width: 70%;
}

.home-workspace-editarea-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: var(--border-dashed);
    border-radius: var(--border-radius-main);
    text-align: center;
}
