.note-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--section-spacing);
    border: var(--border-solid);
    border-radius: var(--border-radius-main);
}

.note-form-contentinput {
    height: 100%;
}
